---
name: PR Conventional Commit Validation
run-name: "PR Conventional Commit Validation (${{ github.actor }})"

"on":
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - edited

permissions: {}

jobs:
  validate-pr-title:
    runs-on: ubuntu-latest
    steps:
      - name: PR Conventional Commit Validation
        uses: ytanikin/pr-conventional-commits@main
        with:
          task_types: '["feat","fix","docs","test","ci","refactor","perf","style"]'
          add_label: 'false'
